
@use "variables";

/*---------------------- Footer -----------------------------*/

footer {
    min-height: 380px;
    background-color: variables.$clr-white;
    .footer-upper-wrapper {
      margin-left: 14.47vw;
      /*margin-right: 20.41vw;*/
      margin-top: 69px;
      margin-bottom: 83px;
      display: flex;
      flex-direction: row;
      flex-flow: row wrap;
      .footer-logo-and-btn {
        margin-right: 67px;
        padding-right: 10px;
        img {
          display: block;
          margin-bottom: 112px; /* 101px + 11px of btn padding*/
          width: 90px;
          height: 90px;
        }
        .button {
          display: block;
          white-space: nowrap;
          
        }
      }
      .footer-link-block-wrapper {
        display: flex;
        flex-direction: row;
        gap: 15px;
        .footer-link-block {
          display: flex;
          flex-direction: column;
          flex: 1;
          h3 {
            text-align: left;
            white-space: nowrap;
            margin-bottom: 21px;
            color: variables.$clr-purple;
            font-size: 20px;
            line-height: 27px;
          }
          .footer-link-wrapper {
            list-style: none;
            padding: 0;
            margin: 0;
  
            .footer-links {
              font-size: 16px;
              line-height: 26px;
              color: variables.$clr-charcoal;
              text-decoration: none;
            }
          }
        }
      }
      .footer-link-block-wrapper > * {
        flex: 1;
      }
    }
    #footer-line {
      width: auto;
      margin: 0;
      border: 1px solid variables.$clr-second-gray;
    }
    .footer-lower-wrapper {
      display: flex;
      flex-direction: row;
      flex-flow: wrap-reverse;
      min-height: 59px;
      margin: 0;
      align-items: center;
      margin-left: 14.47vw;
      .copyright {
        margin-right: 21.47vw;
        p {
          font-size: 16px;
          line-height: 19px;
          color: variables.$clr-green-gray;
          white-space: nowrap;
          justify-content: center;
          text-align: center;
        }
      }
      .footer-user-links {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: center;
        a {
          text-decoration: none;
          font-size: 14px;
          line-height: 16px;
          color: variables.$clr-green-gray;
          white-space: nowrap;
          padding-right: 1em;
          padding-left: 1em;
          border-right: 1px solid variables.$clr-green-gray;
        }
        :last-child {
          padding-right: 0;
          border-right: none;
        }
      }
    }
  }