@use "./variables";

/* -------------------- Header Section --------------------*/

header {
    z-index: 9;
    width: 100%;
    height: 144px;
    background-color: variables.$clr-white;
    margin: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    .flex-container {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center; /* centers nav verticaly */
      justify-content: center; /* centers nav horizontaly */
      nav {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        /*width: 100%;*/
        padding: 0 25px;
        /*margin: 0;*/
        #logo-medium {
          display: inline-block;
        }
        #logo-small {
          display: none;
        }
        .nav-box1 {
          display: none;
          /* MENU - Hamburger BUTTON */
          .hamburger {
            display: inline-block;
            cursor: pointer;
            margin-top: 15px;
            margin-left: 20px;
            max-height: 19px;
            .bar1,
            .bar2,
            .bar3 {
              width: 30px;
              height: 2px;
              background-color: variables.$clr-black;
              margin: 6px 0;
              transition: 0.5s;
            }
          }
        }
        .nav-links {
          list-style: none;
          gap: 10px;
          li {
            display: inline;
            padding: 0 40px 0 0;
            font-family: variables.$fon-os;
            font-style: 'Regular';
            font-weight: normal;
            text-decoration: none;
            line-height: 1.56 rem; /* 25px */
            font-size: 1.13rem; /* 18px */
            &:last-child {
              padding-right: 0;
            }
            a,
            a > span {
              position: relative;
              color: inherit;
              text-decoration: none;
              line-height: 24px;
              &:before,
              &:after {
                content: '';
                position: absolute;
                transition: transform 0.5s ease;
              }
            }
            .scroll-link {
              transition: 0.5s ease-in;
              color: variables.$clr-charcoal;
              display: inline-block;
              padding-top: 10px;
              padding-bottom: 5px;
              overflow: hidden;
  
              &:before {
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background: variables.$hover;
                transform: translateX(-100%);
              }
              &:hover:before {
                transform: translateX(0);
              }
            }
          }
        }
        .nav-box2 {
          display: flex;
          flex-direction: column;
          padding-left: 8.85vw;
          p {
            display: flex;
            flex-direction: row-reverse;
            padding: 0;
            font-size: 0.875rem;
            line-height: 1.357em;
            margin: 0 0 25px 0;
          }
          img {
            padding: 0 0 30px 0;
          }
        }
      }
    }
  }
  