@use "variables";

/*---------------Global media queries-------------------*/

@media (max-width: 1400px) {
    header {
      height: 85px;
      display: block;
      .flex-container {
        width: 100%;
        padding-top: 10px;
        nav {
          flex-wrap: wrap;
          width: 100%;
          padding: 0;
          vertical-align: middle;
          #logo-medium {
            display: none;
          }
          #logo-small {
            display: flex;
            padding-left: 25px;
          }
          .nav-box1 {
            display: inline-flex;
            padding-right: 25px;
            #nav-box1-text1 {
              font-size: 1.125rem;
              line-height: 1.75rem;
            }
            #nav-box1-text2 {
              font-size: 0.875rem;
              line-height: 1.375rem;
              margin-top: 22px;
              margin-right: 20px;
            }
            .vl {
              border-left: 1px solid variables.$clr-black;
              height: 20px;
              margin-top: 20px;
            }
          }
          .nav-links {
            display: block;
            background-color: variables.$clr-white;
            width: 100%;
            padding-left: 0;
            margin: 0;
            li {
              display: none; /*OVO SE MENJA U BLOCK POMOCU JS DA MENI BUDE VIDLJIV KAO PADAJUĆI */
              padding: 20px 0 20px 25px;
              font-size: 20px;
              line-height: 27px;
              color: variables.$clr-charcoal;
            }
          }
          .li {
            display: block !important; /* This should be done without !important - not best solution */
          }
          .nav-box2 {
            display: none;
          }
        }
      }
    }
  }
  
  @media (max-width: 1200px) {
    #banner {
      .banner-wrap {
        margin-left: 10%;
        margin-right: 10%;
      }
    }
    #sustainability {
      .sustainability-wrapper {
        margin: 55px 25px 100px 25px;
        .sustain-wrap-1{
          border-bottom: 1px solid variables.$clr-white;
        }
        .sustainability-columns {
          
          overflow: hidden;
        }
        .sustainability-columns > * {
          max-width: 215px;
          display: inline-block;
          overflow: hidden;
        }
      }
    }
    #key-facts {
      .kf-container {
        margin-left: 10.41vw;
        margin-right: 10.41vw;
        .kf-container-2 {
          .kf-container-2-2 {
            display: flex;
            flex-direction: row;
            border-top: 1px solid variables.$clr-charcoal;
            flex-wrap: nowrap;
            gap: 15px;
            :nth-child(2) {
              border-top: 0;
              border-bottom: 0;
            }
            h2 {
              padding: 0;
              text-align: center;
            }
          }
          .kf-container-2-2 > * {
            display: inline-block;
          }
        }
      }
    }
  
    #careers {
      .careers-h2-wrapper {
        margin-left: 3.25vw; /*25px;*/
      }
      p {
        margin-left: 3.25vw; /*25px;*/
        margin-right: 19.01vw; /*146px;*/
        font-size: 38px;
        line-height: 45px;
        padding-right: 0;
      }
      .button {
        margin-left: 3.25vw; /*25px;*/
      }
    }
    footer {
      .footer-upper-wrapper {
        margin: 40px 26px 30px 24px;
        .footer-logo-and-btn {
          width: 100%;
          display: flex;
          margin: 0 0 40px 0;
          height: auto;
          flex-direction: row;
          img {
            margin: 0 32px 0 0;
          }
          .button {
            margin: 21px 0 21px 0;
          }
        }
      }
      .footer-link-block-wrapper {
        width: 100%;
      }
      .footer-lower-wrapper {
        margin: 39px 26px 28px 24px;
        .copyright {
          width: 100%;
          margin: 0;
          p {
            margin-bottom: 0;
          }
        }
        .footer-user-links {
          width: 100%;
        }
      }
    }
  }
  
  @media (max-width: 992px) {
    #news {
      .news-wrapper {
        margin-left: 25px;
      }
    }
    #key-facts {
      min-height: 730px;
      .kf-container {
        margin-top: 88px;
        h2 {
          font-size: 30px;
          line-height: 38px;
        }
        p {
          font-size: 19px;
          line-height: 28px;
        }
        .kf-container-2 {
          h1 {
            font-size: 72px;
            line-height: 86px;
          }
          p {
            flex-wrap: wrap;
          }
          .kf-container-2-2 {
            h2 {
              font-size: 24px;
              line-height: 34px;
              padding: 0;
              text-align: center;
            }
          }
        }
        .key-facts-btn {
          margin-top: 60px;
          margin-bottom: 88px;
        }
        .kf-container > * {
          display: inline-block;
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    #banner {
      min-height: 500px;
      .banner-wrap {
        margin-left: 5%; /*5px;*/
        margin-right: 5%; /*5px;*/
        margin-bottom: 130px; /*130px*/
        margin-top: 130px;
        h1 {
          font-size: 3.125rem; /*50px*/
          line-height: 68px;
        }
      }
    }
    #news {
      min-height: 557px;
      .news-wrapper {
        margin-top: 45px;
        margin-bottom: 45px;
        .news-inside-lower-wrapper {
          margin-left: 0;
        }
      }
    }
    #key-facts {
      min-height: 631px;
      margin-top: 45px;
      .kf-container {
        margin-top: 88px;
        h2 {
          font-size: 30px;
          line-height: 38px;
        }
        p {
          font-size: 19px;
          line-height: 28px;
        }
        .kf-container-2 {
          margin-top: 24px;
          /*flex-direction: column;
          align-items: center;
          align-self: center;*/
          h1 {
            font-size: 56px;
            line-height: 72px;
          }
          p {
            font-weight: 700;
            font-size: 17px;
            line-height: 26px;
            margin-top: 0;
          }
          .kf-container-2-2 {
            h2 {
              /*font-weight: 700;
              font-size: 14px;
              line-height: 30px;*/
              margin-left: 0;
              margin-right: 0;
              width: 100%;
              font-size: 17px;
              line-height: 26px;
            }
          }
        }
        .key-facts-btn {
          margin-bottom: 102px;
        }
      }
    }
    #sustainability {
      min-height: 628px;
      max-width: 768px;
      .sustainability-wrapper {
        overflow-x: hidden;
        .sustain-wrap-1{
          border-bottom: 1px solid variables.$clr-white;
        }
        .sustainability-columns {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 0;
          width: 1250px;
          max-height: 165px;
          overflow: hidden;
          justify-content: center;
          align-items: center;
          .sustainability-col {
            margin: 0;
            .sustainability-col-1 {
              font-size: 35px;
              line-height: 40px;
              /*margin-top: 30px;*/
            }
            .sustainability-col-2 {
              font-size: 20px;
              line-height: 24px;
              margin-bottom: 0;
            }
          }
        }
        .sustainability-columns > * {
          max-width: 215px;
          flex: 1;
          margin: 0;
        /*flex-direction: row nowrap;
          overflow: hidden;*/
        }
        .sustain-btns{
          border-top: 1px solid variables.$clr-white;
        }
        .sustain-col-btn {
          display: inline-block;
          margin-top: 17px;
        }
      }
    }
    #posts {
      min-height: 568px;
      .posts-wrap {
        margin: 70px 25px 70px 25px;
        .post {
          h2 {
            margin-left: 23px;
            font-weight: 400;
            font-size: 30px;
            line-height: 35px;
          }
          p {
            margin-top: 10px;
            margin-left: 23px;
          }
          .posts-link-wrap {
            margin-left: 23px;
          }
        }
      }
    }
    #careers {
      min-height: 565px;
      margin-top: 70px;
      .careers-h2-wrapper {
        margin-left: 3.25vw; /*25px;*/
        margin-top: 92px;
      }
      p {
        margin-left: 3.25vw; /*25px;*/
        margin-right: 19.01vw; /*146px;*/
        font-size: 38px;
        line-height: 45px;
        padding-right: 0;
      }
      .button {
        margin-left: 3.25vw; /*25px;*/
        margin-bottom: 92px;
      }
    }
    footer {
      min-height: 548px;
      margin-top: 40px;
      .footer-upper-wrapper {
        margin: 40px 20px 30px 20px;
        .footer-link-block-wrapper {
          gap: 10px;
        }
      }
    }
  }
  
  @media (max-width: 520px) {
    header{
      .flex-container {
        #logo-small {
          padding: 6px 0 0 20px;
        }
        .nav-box1 {
          padding-right: 20px;
          p {
            display: none;
          }
        }
        .vl {
          display: none;
        }
        .hamburger {
          margin: 0 0 25px 0;
        }
        .nav-links {
          li {
            padding-left: 20px;
          }
        }
      }
    }
    #banner {
      min-height: 520px;
      .banner-wrap {
        width: 87.5%;
        margin-top: 150px;
        margin-bottom: 135px;
      }
      h1 {
        font-size: 32px;
        line-height: 44px;
      }
    }
    #news {
      .news-wrapper {
        margin-top: 40px;
        .news-inside-upper-wrapper {
          flex-direction: column;
          .title-and-btn-wrapper {
            margin-bottom: 32px;
            min-height: 50px;
            h2 {
              margin: 0 0 34px 0;
            }
          }
          .news-article-wrapper {
            
            .news-article {
              width: 273px;
              .article-img-container {
                overflow: hidden;
                border-radius: 0 10px 0 0;
                .news-article-image {
                  margin-left: 6px;
                  border-radius: 10px 0 0 0;
                  object-fit: cover;
                }
              }
              .news-article-info {
                h6 {
                  font-family: 'Public Sans';
                  font-style: normal;
                  font-weight: 900;
                  font-size: 11px;
                  line-height: 13px;
                }
                time {
                  font-family: 'Public Sans';
                  font-style: normal;
                  font-weight: 900;
                  font-size: 11px;
                  line-height: 13px;
                }
              }
              p {
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
    #key-facts {
      min-height: 630px;
      .kf-container {
        margin-top: 28px;
        .kf-container-2 {
          flex-direction: column;
          margin-top: 24px;
          align-items: center;
          align-self: center;
          .kf-container-2-2 {
            width: 100%;
            h2 {
              font-weight: 700;
              font-size: 14px;
              line-height: 30px;
            }
          }
        }
        .key-facts-btn {
          margin-top: 43px;
          margin-bottom: 45px;
        }
      }
    }
    #careers {
      min-height: 464px;
      .careers-h2-wrapper {
        margin-left: 3.84vw; /*20px;*/
        margin-top: 100px;
      }
      p {
        margin-left: 3.84vw; /*20px;*/
        margin-right: 19.01vw; /*146px;*/
        font-size: 24px;
        line-height: 28px;
        padding-right: 0;
      }
      .button {
        margin-left: 3.84vw; /*20px;*/
        margin-bottom: 100px;
      }
    }
    #posts {
      .posts-wrap {
        margin: 48px 20px 61px 20px;
        #post-1 {
          margin-right: 0;
        }
        #post-2 {
          display: none;
        }
      }
    }
    footer {
      .footer-upper-wrapper {
        flex-direction: column;
        flex-flow: column wrap;
        .footer-logo-and-btn {
          display: flex;
          flex-direction: column;
          margin: 0;
          .button {
            width: 267px;
            margin-bottom: 0;
          }
        }
        .footer-link-block-wrapper {
          flex-direction: column;
          gap: 0;
          .footer-link-block {
            margin-top: 50px;
            h3 {
              margin: 0 0 20px 0;
            }
            .footer-link-wrapper {
              .footer-links {
                line-height: 26px;
              }
            }
          }
        }
      } // foter upper wrapper
      .footer-lower-wrapper {
        flex-direction: column-reverse;
        margin: 26px 20px 53px 20px;
        .copyright {
          p {
            text-align: left;
            margin-top: 0;
          }
        }
        .footer-user-links {
          display: flex;
          flex-direction: column;
          gap: 16px;
          margin-bottom: 44px;
          a {
            border: 0;
            padding: 0;
          }
        } // footer user links
      } // fotter lower wrapper
    } // footer
  }