
/* -------------------- Variables --------------------*/

/*colors*/
$clr-white: #fff;
$clr-lightest-gray: #f2f3f4;
$clr-green-gray: #56707a;
$clr-charcoal: #213038;
$clr-purple: #4c12a1;
$clr-light-blue: #cae7e6;
$clr-gray: #56707a;
$clr-second-gray: #cdd8df;
$clr-red: #e5006d;
$clr-black: #000000;

$hover: darken($clr-purple, 10%);

/*fonts*/
$fon-os: 'Open Sans';


